.travel_mainDiv
{
    border: 1px solid white;
}
.travel_mainDiv img
{
    width: 100%;
}
.travel_mainDiv
{
    margin: 20px;
}
.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i
{
    float: right;
}
.movie_text span
{
    color: orange;
}
.page-header
{
    margin-left: 20px;
    color: aliceblue;
}
.img-responsive
{
    height:800px;
    width: 1200px;
}
.nav-navbar-nav
{
    color: whitesmoke;
}
